<div class="container">
  <mat-card class="form-card">
    <mat-card-header>
      <mat-card-title>{{ isEditMode ? 'Edit Car' : 'Add New Car' }}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form [formGroup]="carForm" (ngSubmit)="onSubmit()" class="car-form">
        <mat-form-field appearance="fill">
          <mat-label>Car Details</mat-label>
          <input matInput formControlName="car_details">
        </mat-form-field>
        <button mat-raised-button color="primary" type="submit" [disabled]="carForm.invalid">
          {{ isEditMode ? 'Update' : 'Add' }}
        </button>
        <button mat-button type="button" (click)="resetForm()">Cancel</button>
      </form>
    </mat-card-content>
  </mat-card>

  <mat-card class="table-card">
    <mat-card-header>
      <mat-card-title>Cars List</mat-card-title>
      <mat-form-field class="search-field">
        <mat-label>Search</mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="Filter...">
      </mat-form-field>
    </mat-card-header>
    <mat-card-content>
      <div class="mat-elevation-z8">
        <table mat-table [dataSource]="dataSource">

          <ng-container matColumnDef="car_number">
            <th mat-header-cell *matHeaderCellDef> Car Number </th>
            <td mat-cell *matCellDef="let element"> {{ element.car_number }} </td>
          </ng-container>
          <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef> Actions </th>
            <td mat-cell *matCellDef="let element">
              <button mat-icon-button color="accent" (click)="editCar(element)">
                <mat-icon>edit</mat-icon>
              </button>
              <button mat-icon-button color="warn" (click)="deleteCar(element.id)">
                <mat-icon>delete</mat-icon>
              </button>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>

        <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
      </div>
    </mat-card-content>
  </mat-card>
</div>