<h2 mat-dialog-title >{{ dialogTitle }}</h2>
<mat-dialog-content>
  <form [formGroup]="carForm" class="d-flex justify-content-start flex-wrap " style="gap: 12px;">

    <mat-form-field class="w-100" appearance="outline">
      <mat-label>تفاصيل السيارة</mat-label>
      <input matInput formControlName="car_details">
      <mat-error *ngIf="carForm.get('car_details')?.hasError('required')">تفاصيل السيارة مطلوبة</mat-error>
    </mat-form-field>

    <mat-form-field class="w-100" appearance="outline">
      <mat-label>رقم السيارة</mat-label>
      <input matInput formControlName="car_number">
      <mat-error *ngIf="carForm.get('car_number')?.hasError('required')">رقم السيارة مطلوب</mat-error>
    </mat-form-field>

    <mat-form-field class="w-100" appearance="outline">
      <mat-label>رقم المحرك</mat-label>
      <input matInput formControlName="engin_number">
      <mat-error *ngIf="carForm.get('engin_number')?.hasError('required')">رقم المحرك مطلوب</mat-error>
    </mat-form-field>

     <mat-form-field class="w-100" appearance="outline">
      <mat-label>رقم الشاسيه</mat-label>
      <input matInput formControlName="body_number">
      <mat-error *ngIf="carForm.get('body_number')?.hasError('required')">رقم الشاسيه مطلوب</mat-error>
    </mat-form-field>

    <mat-form-field class="w-100" appearance="outline">
      <mat-label>البائع</mat-label>
      <textarea matInput formControlName="buyer" rows="4"></textarea>
      <mat-error *ngIf="carForm.get('buyer')?.hasError('required')">البائع مطلوب</mat-error>
    </mat-form-field>

    <mat-form-field class="w-100" appearance="outline">
      <mat-label>المشتري</mat-label>
      <textarea  matInput formControlName="seller" rows="4"></textarea>
   
      <mat-error *ngIf="carForm.get('seller')?.hasError('required')">المشتري مطلوب</mat-error>
    </mat-form-field>

    <mat-form-field class="w-100" appearance="outline">
      <mat-label>الحالة</mat-label>
      <input matInput formControlName="status">
      <mat-error *ngIf="carForm.get('status')?.hasError('required')">الحالة مطلوبة</mat-error>
    </mat-form-field>


      <mat-form-field class="w-100" appearance="outline">
       <mat-label>تاريخ الاضافة</mat-label>
      <input matInput formControlName="date_add">
      <mat-error *ngIf="carForm.get('status')?.hasError('required')">التاريخ مطلوبة</mat-error>
    </mat-form-field>


   <!--  <mat-form-field class="w-100" appearance="outline">
      <mat-label>تاريخ الاضافة</mat-label>
      <input matInput [matDatepicker]="picker" formControlName="date_add"> 
      <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker  #picker></mat-datepicker>
    </mat-form-field> -->
  </form>
</mat-dialog-content>
 <mat-dialog-actions>

  <button mat-raised-button color="primary" [disabled]="carForm.invalid" (click)="onSave()">حفظ</button>
  <button mat-button (click)="onCancel()">إلغاء</button>
 </mat-dialog-actions>
 